<% content_for :specific_meta_tags do %>
  <title>Busão Nota 10</title>
  <meta name="description" content="Como você avalia suas viagens de ônibus no Rio? Que tal avaliar suas experiências e compartilhar no facebook para ajudar a melhorar esse serviço?">
  <meta property="og:description" content="Como você avalia suas viagens de ônibus no Rio? Que tal avaliar suas experiências e compartilhar no facebook para ajudar a melhorar esse serviço?" />
<% end %>

<%= link_to(root_path, class: 'etiqueta') do %>
  <%= image_tag("etiqueta.png") %>
<% end %>

<section class="intro-app">
  <div class="container">
    <div class="brand">
      <div class="logo-name">
        <%= image_tag("logo@2x.png", class: 'logo') %>
        <div class="name">
          <h1>Busão Nota 10</h1>
          <h2>Melhore o transporte do Rio</h2>
        </div>
      </div>
    </div>
    <div>
      <div class="grid-1-2">
        <h2>Como você avalia suas viagens de ônibus no Rio?</h2>
        <h3>Que tal avaliar suas experiências e compartilhar no facebook para ajudar a melhorar esse serviço?<br>O histórico de avaliações será transparente para toda a comunidade, a prefeitura do Rio e as empresas de ônibus.</h3>
        <a href="#"><button><span class="android"></span>Baixe Grátis</button></a>
        <p>Disponível no Google Play Store</p>
      </div>
      <figure class="grid-1-2 right">
        <%= image_tag("busao-nota-10-mockup2.png", class: 'mockup') %>
      </figure>
    </div>
  </div>
</section>
